DCMS.BluetoothPrinter/DCMS.BluetoothPrinter.Android/obj/
DCMS.BluetoothPrinter/DCMS.BluetoothPrinter.iOS/obj/
DCMS.BluetoothPrinter/DCMS.BluetoothPrinter.UWP/obj/
DCMS.BluetoothPrinter/DCMS.BluetoothPrinter/obj/
DCMS.BluetoothPrinter/DCMS.BluetoothPrinter.Android/bin/
DCMS.BluetoothPrinter/DCMS.BluetoothPrinter.UWP/
DCMS.BluetoothPrinter/DCMS.BluetoothPrinter/bin/
